manifest {
    homePage = 'http://foo.com'
    description = 'test nextflow on gitlab'
    mainScript = 'script_test_r_version.nf'
    version = '1.0.0'
}

env {
   HOME = "/nfs/users/nfs_l/ls31/otar2069/Aim1/otar2069_aim1_docker" 
   NXF_OPTS="Xms4g -Xmx4g XX:ReservedCodeCacheSize=4g"
   NXF_DEBUG="1"
   NXF_JAVA_HOME="/software/hgi/installs/java/java-se-8u41-ri/bin/java"
}

process {
   container = 'file:////lustre/scratch123/hgi/mdt0/otar2069/Aim1/otar2069_aim1_docker/otar2069_aim1_OT.sif'
}

singularity{
   enabled = true
   autoMounts = true
}

providers {
    private_gitlab_info {
        user = 'ls31'
        password = 'glpat-MxmAsTH4H8d8EmyLsNzH'
        server = 'https://gitlab.internal.sanger.ac.uk/'
    }
    private_github_info {
        user = 'stefanucci-luca'
        password = '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'
    }
}
